---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
  labels:
    app: proxy
spec:
  replicas: 3
  selector:
    matchLabels:
      app: proxy
  template:
    metadata:
      name: nginx-pod
      labels:
        app: proxy
    spec:
      containers:
        - name: mynginx
          image: nginx
---
apiVersion: v1
kind: Service
metadata:
  name: nodeport-service
  labels:
    app: myservice
spec:
  type: NodePort
  ports:
    - targetPort: 80
      nodePort: 30008
      port: 80
  selector:
    app: proxy
...
